.inner-project {
    display: flex;
    gap: 14px;
}

.item-project {
    min-width: 550px;
    min-height: 250px;
}

.carousel-project {
    cursor: grab;
    overflow: hidden;
}

@media screen and (max-width: 475px) {
    .item-project {
        min-width: 300px;
    }
}
