* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
    background: linear-gradient(60deg, #72008f -20%, #000000 15%, #000000 90%, #72008f 110%);
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}